<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>


    <title>US IP Locator</title>

    
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ip_measure.css') }}" rel="stylesheet" />
</head>

<body>
    <div id="input_form">
        <input type="text" id="q" />
        <input type="button" id="search" value="Locate" />
    </div>
    <div id='map_canvas'></div>

    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCPUaIgcxnWfOHCJYpfqcSk2Mq9IP8u8MY&amp;sensor=false"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.json.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ip_measure.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            window.mapController = new MapController();
        })
    </script>
</body>

</html>
